<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116810411337-k8o8r50sb848bqruu9nq8v0j2v5sgvgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116810411337-k8o8r50sb848bqruu9nq8v0j2v5sgvgl</string>
	<key>API_KEY</key>
	<string>AIzaSyDXWxHQDEumK6tXxrnQF4sWvv0e0l7-Rb4</string>
	<key>GCM_SENDER_ID</key>
	<string>116810411337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rakuzen.orderSupport</string>
	<key>PROJECT_ID</key>
	<string>rakuzen-5017f</string>
	<key>STORAGE_BUCKET</key>
	<string>rakuzen-5017f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116810411337:ios:32607717ffa2e630207e98</string>
</dict>
</plist>